.header {
    display: flex;
    justify-content: space-evenly ;
    margin-top: 5rem;
}

.createdTaskContainer {
    gap: 1rem;
    color: var(--purple);
} 

.completedTaskContainer {
  gap: 1rem;
  color: var(--purple);
}

